---
// @ts-ignore
import { Code, Mail } from 'astro-feather-icons';
import {
  CodeBracketIcon,
  WrenchScrewdriverIcon,
  Cog8ToothIcon,
  CpuChipIcon,
  UserIcon,
} from '@heroicons/react/24/solid';
import Layout from '../layouts/Layout.astro';
import WorkExperience from '../components/WorkExperience.astro';
import Title from '../components/Title.astro';
import Project from '../components/Project.astro';
import ProjectURL from '../components/ProjectURL.astro';
---

<Layout title='Soumil Dharaskar'>
  <section
    class='md:pt-16 pb-64 px-6 flex flex-col items-center bg-gradient-to-tr from-green-300 to-blue-600 text-white md:pb-32 sticky md:-top-[43.5rem] -top-[39.5rem] z-10'
  >
    <div class='flex flex-col items-center animate-fade'>
      <Code class='mb-4 size-16' />
      <div class='text-2xl mb-4 text-center'>
        <h1 class='text-4xl'>
          Hi, I'm <strong class='text-blue-950'>Soumil Dharaskar</strong>!
        </h1>

        <h1 class='mt-5 mb-4 text-3xl'>
          I am a <strong class='text-blue-950'
            ><span id='about-me-typed'></span></strong
          >
        </h1>

        <!-- <h2 class='mt-5'>
          <strong class='text-blue-950'>Seeking 2024 New Graduate Roles</strong>
        </h2> -->

        <script
          is:inline
          src='https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js'></script>
        <script>
          import Typed from 'typed.js';

          var typed = new Typed('#about-me-typed', {
            strings: [
              '^1000Software Engineer.^1000 ',
              '^1000Gamer.^1000 ',
              '^1000Swimmer.^1000 ',
            ],
            typeSpeed: 100,
            backSpeed: 50,
            loop: true,
          });
        </script>
      </div>
      <img
        src='/images/52943436060_6a4f216eb2_o.jpg'
        alt='Portrait of Soumil Dharaskar'
        class='w-full max-w-60 rounded-3xl mb-8'
        width='240px'
        height='360px'
      />
    </div>
  </section>
  <ul
    class='flex flex-col md:flex-row justify-center gap-4 animate-slide text-xl sticky md:top-0 top-4 md:py-6 md:pb-12 md:-mt-32 -mt-64 text-white z-20 text-center mx-8'
  >
    <li>
      <a
        href='#bio'
        class='block px-8 py-2 border-white rounded-md border uppercase tracking-wider select-none transition ease-in-out delay-50 hover:scale-105 hover:bg-yellow-300 duration-300 hover:text-yellow-950 hover:border-yellow-950'
        >About Me</a
      >
    </li>
    <li>
      <a
        href='#experience'
        class='block px-8 py-2 border-white rounded-md border uppercase tracking-wider select-none transition ease-in-out delay-50 hover:scale-105 hover:bg-indigo-300 duration-300 hover:text-indigo-950 hover:border-indigo-950'
        >Experience</a
      >
    </li>
    <li>
      <a
        href='#skills'
        class='block px-8 py-2 border-white rounded-md border uppercase tracking-wider select-none transition ease-in-out delay-50 hover:scale-105 hover:bg-blue-300 duration-300 hover:text-blue-950 hover:border-blue-950'
        >Skills</a
      >
    </li>
    <li>
      <a
        href='#projects'
        class='block px-8 py-2 border-white rounded-md border uppercase tracking-wider select-none transition ease-in-out delay-50 hover:scale-105 hover:bg-orange-300 duration-300 hover:text-blue-950 hover:border-blue-950'
        >Projects</a
      >
    </li>
    <li>
      <a
        href='#contact'
        class='block px-8 py-2 border-white rounded-md border uppercase tracking-wider select-none transition ease-in-out delay-50 hover:scale-105 hover:bg-green-300 duration-300 hover:text-blue-950 hover:border-blue-950'
        >Contact & Links</a
      >
    </li>
  </ul>
  <section
    id='bio'
    class='py-16 px-6 md:scroll-mt-24 scroll-mt-64 flex items-center flex-col w-full bg-yellow-100 text-yellow-950'
  >
    <Title>About Me</Title>
    <img
      src='/images/University_of_Waterloo_seal.svg.png'
      alt='University of Waterloo Logo'
      class='rounded-3xl mt-6 size-28'
    />
    <p class='mt-6 max-w-2xl text-lg text-center text-pretty'>
      <strong>Hey there!</strong> My name is <strong>Soumil Dharaskar</strong>,
      and I am a <strong>Full-Stack Software Engineer</strong> currently <strong>seeking
      permanent, full time early career roles</strong> in Software Engineering</strong>. 
    </p>
    <p class='mt-6 max-w-2xl text-lg text-center text-pretty'>
      I am a graduate
      of the <strong>Computer Engineering</strong> program at the
      <strong>University of Waterloo</strong> in Waterloo, Ontario, Canada, having
      completed my Bachelor of Applied Science Degree as of April 2024.
    </p>
    <p class='mt-6 max-w-2xl text-lg text-center text-pretty'>
      I have <strong>2 years</strong> of internship and <strong>8 months</strong> of full-time Software
      Engineering experience, using a variety of tools and frameworks to create <strong>high throughput</strong>, 
      <strong>low latency</strong> software solutions.
    </p>
    <p class='mt-6 max-w-2xl text-lg text-center text-pretty'>
      In my free time, I enjoy swimming, going to the gym, and going on walks or runs.
      I also enjoy programming on the side, solving practice problems and working on side-projects
      using trending technologies in industry.
  </section>
  <section
    id='experience'
    class='py-16 px-6 md:scroll-mt-24 scroll-mt-64 flex items-center flex-col w-full'
  >
    <Title>Experience</Title>
    <div>
      <WorkExperience 
        role='Software Development Engineer' 
        company='Ford Motor Company' 
        companyLogo='/images/Ford_logo_flat.svg.png'
        date='August 2024 - May 2025'
        description={[
          'Implemented full-stack Android features on an infotainment screen using <strong>Java</strong> and <strong>Eclipse Mosquitto&#8482 (MQTT)</strong>, <strong>facilitating low-latency synchronization</strong> between vehicle opt-in preferences and <strong>cloud systems</strong>',
          'Designed and enhanced <strong>C++</strong> proxies interfacing with timezone and satellite microservices in a distributed <strong>ECU</strong> architecture, enabling prompt and accurate UTC offset updates to <strong>20+</strong> timezones in the infotainment clock',
          'Developed comprehensive unit tests using <strong>GoogleTest</strong> and mock-based validation for clock-supporting microservices, <strong>increasing code coverage</strong> from <strong>30%</strong> to over <strong>90%</strong> and <strong>improving service reliability</strong>',
        ]}
      >

      </WorkExperience>
      <WorkExperience
        role='Software Engineer Intern'
        company='Wild Fork Canada'
        companyLogo='/images/337240544_1297084747557655_7176881005707344321_n.jpg'
        date='September 2023 - December 2023'
        description={[
          'Engineered responsive production-grade front-end features for an e-commerce platform using <strong>Next.js</strong> and <strong>Redux</strong>, raising the retail conversion rate by <strong>25%</strong>',
          'Designed and deployed personalized digital campaigns using <a href="https://www.dynamicyield.com/ecommerce/" target="_blank"><strong><span class="transition-colors hover:text-gray-400">Dynamic Yield (DY)&#8482</span></strong></a> with <strong>HTML</strong>, <strong>CSS</strong> and <strong>JavaScript</strong>, increasing click-through rates by <strong>57%</strong> and <strong>doubling profit margins</strong>',
          'Owned the <strong>end-to-end development</strong> of an ’Add to Cart’ service for product recommendation carousels in <strong>JavaScript</strong> and Redux, integrated with an internal cart API, <strong>enabling dynamic updates</strong> across <strong>10+</strong> high-traffic web pages',
          'Conducted <strong>A/B testing</strong> on multiple site variations, using data analysis to <strong>identify and launch</strong> top-performing campaigns',
        ]}
      />
      <WorkExperience
        role='Software Engineer Intern'
        company='Ford Motor Company'
        companyLogo='/images/Ford_logo_flat.svg.png'
        date='January 2023 - April 2023'
        description={[
          'Developed accessible <strong>React.js</strong> components for the SYNC4 infotainment settings interface with <strong>Redux Saga</strong>, enabling <strong>real-time customization</strong> for in-vehicle systems, <strong>enhancing the user experience</strong>',
          'Applied the <strong>MQTT publish-subscribe</strong> model for <strong>CAN</strong> log reception and ECU signal correction, <strong>improving display responsiveness</strong> by <strong>70%</strong> under load',
          'Authored extensive <strong>React.js</strong> tests using <strong>Jest</strong> and <strong>Mocha</strong>, achieving <strong>98%</strong> branch coverage, <strong>ensuring reliability and robustness</strong>',
          'Participated in 3-week sprints, <strong>led code reviews</strong>, and contributed to stand-ups as part of the <strong>Scrum</strong> Agile framework, to gain and provide constructive feedback, and increase productivity, team cohesion, and efficiency',
        ]}
      />
      <WorkExperience
        role='Full Stack Developer Intern'
        company='Royal Bank of Canada'
        companyLogo='/images/RBC-Logo.png'
        date='May 2022 - August 2022'
        description={[
          'Built <strong>React.js</strong> dashboard features monitoring test environments, <strong>improving live observability</strong> into application health',
          '<strong>Horizontally scaled</strong> the dashboard back-end by integrating the Web Hadoop Distributed File System REST API <a href="https://hadoop.apache.org/docs/r1.0.4/webhdfs.html" target="_blank"><strong><span class="transition-colors hover:text-gray-400">(WebHDFS)&#8482</span></strong></a> for <strong>high-volume dataset processing</strong> using <strong>Java</strong> and <strong>Spring Boot</strong>, <strong>reducing throughput bottlenecks</strong> by <strong>48%</strong>',
          'Optimized <strong>PostgreSQL</strong> queries and schema design via <strong>JDBC</strong>, <strong>reducing query execution</strong> time by <strong>23%</strong> and <strong>improving database access efficiency</strong>',
        ]}
      />
      <WorkExperience
        role='DevOps Engineer Intern'
        company='Sun Life Financial'
        companyLogo='/images/image.jpg'
        date='September 2021 - December 2021'
        description={[
          'Automated deployment for <strong>100+</strong> Jenkins <strong>CI/CD</strong> jobs to SonarQube, <strong>eliminating manual overhead</strong>',
          'Configured SonarQube projects using Ansible jobs for static analysis, <strong>decreasing code vulnerabilities</strong> by <strong>70%</strong> and <strong>improving system security</strong>',
          'Developed <strong>YAML</strong>-based Ansible Playbooks to automate deployment of compiled artifacts to target environments, <strong>enhancing delivery reliability</strong>',
          'Led the financial planning sector in a <strong>team-based design challenge</strong> to propose an <strong>online portal</strong> that would <strong>improve the onboarding process</strong> for new hires',
        ]}
      />
      <WorkExperience
        role='Big Data Developer Intern'
        company='Sun Life Financial'
        companyLogo='/images/image.jpg'
        date='January 2021 - April 2021'
        description={[
          'Implemented <strong>10+ Python scripts</strong> for an <strong>ETL pipeline</strong>, to assist in the migration of Sun Life accounting standards to IFRS17',
          'Created <strong>AWS Lambda functions</strong> and <strong>SQL queries</strong> for <strong>AWS Glue jobs</strong>, to facilitate <strong>Amazon S3</strong> ETL operations',
          'Compiled and analyzed a document of various data feeds used for comprehensive testing and a verification platform, for outlining the data transfer process between infrastructure databases in the IFRS17 migration',
        ]}
      />
      <WorkExperience
        role='Technical Systems Analyst Intern'
        company='Sun Life Financial'
        companyLogo='/images/image.jpg'
        date='May 2020 - August 2020'
        description={[
          'Configured and applied a <strong>standard global image</strong> to <strong>Windows 10</strong> machines using <strong>USB and PXE boot methods</strong>, to successfully <strong>deploy laptops to remote users</strong>',
          'Composed user specifications and pushed application packages to specific machines, using a company configuration portal and <strong>SCCM</strong> to <strong>customize machines for users</strong>',
          'Provided <strong>technical client support</strong> to remote users using the <strong>Remote Desktop Connection</strong> software, to assist users with machine setup, and perform <strong>data analysis</strong> and <strong>troubleshooting</strong> in the case of imaging and computer software issues',
        ]}
      />
    </div>
  </section>
  <section
    id='skills'
    class='py-16 px-6 md:scroll-mt-24 scroll-mt-64 flex items-center flex-col w-full bg-green-100 text-green-950'
  >
    <Title class='mb-8'>Skills</Title>
    <div
      class='grid grid-cols-1 sm:grid-cols-2 flex-wrap md:flex md:justify-center gap-28 gap-y-12 mx-4'
    >
      <div class='gap-10'>
        <CodeBracketIcon className='mb-4 size-16' />
        <h1
          class='text-2xl mb-2 underline underline-offset-4 text-left font-thin'
        >
          <strong>Languages</strong>
        </h1>
        <ul class='list-disc pl-5 text-lg'>
          <li>TypeScript/JavaScript</li>
          <li>Python</li>
          <li>C/C#/C++</li>
          <li>Java</li>
          <li>SQL</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Verilog</li>
          <li>VHDL</li>
        </ul>
      </div>

      <div>
        <Cog8ToothIcon className='mb-4 size-16' />
        <h1
          class='text-2xl mb-2 underline underline-offset-4 text-left font-thin'
        >
          <strong>Frameworks</strong>
        </h1>
        <ul class='list-disc pl-5 text-lg'>
          <li>React.js</li>
          <li>React Native</li>
          <li>Redux</li>
          <li>Flask</li>
          <li>Node.js</li>
          <li>Fastify.js</li>
          <li>Jupyter Notebook</li>
        </ul>
      </div>

      <div>
        <WrenchScrewdriverIcon className='mb-4 size-16' />
        <h1
          class='text-2xl mb-2 underline underline-offset-4 text-left font-thin'
        >
          <strong>Tools</strong>
        </h1>
        <ul class='list-disc pl-5 text-lg'>
          <li>Spring Boot</li>
          <li>Git</li>
          <li>GitHub</li>
          <li>GitLab</li>
          <li>Bitbucket</li>
          <li>SonarQube</li>
          <li>Jenkins</li>
          <li>Ansible</li>
          <li>Jira</li>
          <li>Postman</li>
          <li>Swagger</li>
          <li>Unix</li>
          <li>VNModSim</li>
          <li>VNC Viewer</li>
          <li>WinSCP</li>
        </ul>
      </div>

      <div>
        <CpuChipIcon className='mb-4 size-16' />
        <h1
          class='text-2xl mb-2 underline underline-offset-4 text-left font-thin'
        >
          <strong>Technologies</strong>
        </h1>
        <ul class='list-disc pl-5 text-lg'>
          <li>AWS Glue</li>
          <li>Amazon S3</li>
          <li>AWS Lambda</li>
          <li>PostgreSQL</li>
          <li>MySQL</li>
          <li>MQTT</li>
          <li>APIs</li>
        </ul>
      </div>

      <div>
        <UserIcon className='mb-4 size-16' />
        <h1
          class='text-2xl mb-2 underline underline-offset-4 text-left font-thin'
        >
          <strong>Soft Skills</strong>
        </h1>
        <ul class='list-disc pl-5 text-lg'>
          <li>Critical Thinking</li>
          <li>Quick Learning</li>
          <li>Leadership</li>
          <li>Collaboration</li>
          <li>Resourcefulness</li>
          <li>Time Management</li>
          <li>Work Ethic</li>
          <li>Positive Attitude</li>
        </ul>
      </div>
    </div>
  </section>
  <section
    id='projects'
    class='py-16 px-6 md:scroll-mt-24 scroll-mt-64 flex items-center flex-col w-full'
  >
    <Title>Projects</Title>
    <ProjectURL
      name='DriveGuard'
      description={[
        'Mobile application <strong>detecting symptoms of distracted driving</strong> using a custom trained <strong>machine learning model</strong>, while providing <strong>constructive feedback in real-time</strong>, to foster added safety during drive sessions',
        'Co-developed the UI in <strong>React Native</strong>, allowing users to start and stop drive sessions and view past session statistics via backend API endpoints created using <strong>Flask</strong>, while storing session data in an <strong>Amazon RDS</strong> database',
      ]}
      image='/images/driveguard_homepage.png'
      imageAlt='DriveGuard Sessions Page'
      url='https://github.com/SoumilDharaskar/DriveGuard'
    />
    <ProjectURL
      name='Farmer Aid'
      description={[
        'A <strong>native Android</strong> mobile application developed in <strong>Kotlin</strong>, with <strong>Jetpack Compose</strong>, that serves as an efficient, real-time, and user-friendly platform to <strong>assist farmers</strong> in their farming activities',
        'Integrates text-to-speech technology, transaction sorting, and a <strong>Google Maps API</strong> feature for tracking community fridges, among many other innovative features that simplify the processing, updating, and tracking of produce inventory',
        'Developed the end-to-end user interface and backend logic for a <strong>transactions</strong> viewing page applying the <strong>Model-View-ViewModel</strong> architectural style, allowing farmers to view their crop harvest, food donation, and produce selling transactions',
        'Implemented different <strong>filter chips</strong> on the transactions page to sort transactions based on different criteria',
        'Supported the development of the Google Maps feature by creating a page allowing prompting <strong>user input</strong> of a new community fridge to track, which then placed a <strong>location identifier</strong> for the fridge onto a Google Maps snippet',
      ]}
      image='/images/FarmerAid Transactions Page.png'
      imageAlt='Farmer Aid Transactions Page'
      url='https://github.com/SoumilDharaskar/FarmerAid'
    />
    <ProjectURL
      name='EVENTure Event Planner'
      description={[
        'A cross-platform event-planner that allows organizers of real life events to <strong>register and manage their events</strong> on the application, track attendees via <strong>QR code scanning</strong>, and reward frequent attendees',
        'Implemented a <strong>REST API</strong> in the back-end using <strong>Fastify for Node.js</strong>, <strong>PostgreSQL</strong>, and <strong>Prisma</strong>, to facilitate new organisation creation, user registration, and event registration',
      ]}
      image='/images/EVENTure Screenshot.jpg'
      imageAlt='EVENTure Event Planner Screenshot'
      url='https://github.com/SoumilDharaskar/Eventure'
    />
    <ProjectURL
      name='Battlesnake Game'
      description={[
        'Co-developed a snake for the popular Battesnake virtual mini-game, as a <strong>web server</strong> responding to requests from a game board client',
        'Implemented <strong>REST API</strong> endpoints and back-end logic in <strong>Python</strong>, to process game client information on the current state of the board, and determine an ideal move for the snake',
        'Achieved <strong>2nd place</strong> in the <strong>RBC Summer 2022 Battlesnake competition</strong>, among teams in the <strong>expert developer division</strong>',
      ]}
      image='/images/63020bccf01cad40ee758c34_snake.gif'
      imageAlt='Battlesnake Game GIF'
      url='https://github.com/sjChen15/Barrys_Berries'
    />
    <Project
      name='Various Projects created using Java and C'
      description={[
        'Constructed a compiler in <strong>Java</strong> by creating recognizers and parsers to <strong>synthesize circuits</strong> describing Boolean expressions',
        'Developed a memory management system using <strong>C</strong> in kernel to manually allocate data in the heap, <strong>simulating malloc()</strong>',
        'Designed and implemented a <strong></strong>multi-tasked kernel in <strong>C</strong> for the management, scheduling, and preemption of <strong>real-time OS tasks</strong>',
      ]}
      image='/images/0_DDkULymLKgl0qSZV.jpg'
      imageAlt='Languages Picture'
    />
  </section>
  <footer id='contact' class='flex flex-col items-center justify-center w-full bg-gray-800 text-white py-8 gap-4'>
    <ul class='flex gap-4 items-center'>
      <li >
        <p class='font-bold text-2xl'>Contact Me: </p>
      </li>
      <li>
        <a href='https://www.linkedin.com/in/soumil-dharaskar/' target='_blank'>
          <span class='sr-only'>LinkedIn</span>
          <svg
            width="24px" height="28px"
            xmlns='http://www.w3.org/2000/svg'
            viewBox='0 0 24 24'
            class='w-8 transition-colors hover:text-gray-400'
          >
            <path
              fill-rule='evenodd'
              clip-rule='evenodd'
              d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
              fill='currentColor'></path>
          </svg>
        </a>
      </li>
      <li>
        <a href='https://github.com/SoumilDharaskar' target='_blank'>
          <span class='sr-only'>GitHub</span>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            viewBox='0 0 98 96'
            class='w-8 transition-colors hover:text-gray-400'
          >
            <path
              fill-rule='evenodd'
              clip-rule='evenodd'
              d='M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z'
              fill='currentColor'></path>
          </svg>
        </a>
      </li>
      <li>
        <a href='mailto:sdharask@uwaterloo.ca' target='_blank'>
          <span class='sr-only'>Email</span>
          <Mail class='size-8 transition-colors hover:text-gray-400' />
        </a>
      </li>
    </ul>
  </footer>
</Layout>
